<h1>Create a new User</h1>
<% form_for @user,  :html => { :multipart => true } do |f| %>
	<p><%= f.error_messages %></p>
	<%= render :partial => :form, :locals => { :f => f } %>
	<p><%= f.submit "Submit" %></p>
<% end %>



